---
import { Image } from 'astro:assets';
import aboutImg from '@assets/about.webp';
import CrosshairIcon from '@assets/icons/crosshair-2-line.svg';
import { getLabels } from '@i18n/utils';

const labels = getLabels(Astro.currentLocale, 'aboutMission');
const stats = labels.stats;
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <Image class="mx-auto h-auto w-full max-w-xl rounded-3xl" src={aboutImg} alt={labels.aboutImgAlt} priority />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <div class="flex gap-4">
            <CrosshairIcon class="fill-primary-500 h-8 w-8 shrink-0 sm:h-10 sm:w-10" aria-hidden="true" />
            <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">{labels.title}</h2>
          </div>
          <div class="space-y-6">
            <p class="text-muted text-base sm:text-lg" set:html={labels.p1} />
            <p class="text-muted text-base sm:text-lg">{labels.p2}</p>
            <p class="text-muted text-base sm:text-lg">{labels.p3}</p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-1">
          {
            stats.map((stat) => (
              <div class="border-subtle rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
